.btn{
    border: none;
    outline: none;
    box-shadow: none;

    font-size: 12px;
    font-weight: $font-weight-bolder;
    letter-spacing: 1px;

    text-align: center;
    padding: $spacer/2 $spacer;
    
    transition: all .4s;

    &:hover, &:focus{
        text-decoration: none;
    }

    &--full{
        width: 100%;
    }
    &--small{
        padding: 8px 16px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .btn{
        padding: 10px 20px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .btn{
        &--full-sm{
            width: 100%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .btn{
        &--full-xs{
            width: 100%;
        }
    }
}