footer.footer.pt-5.pb-2.pt-md-4.pt-xs-2
    .container
        .row.pb-5.pb-md-4.pb-sm-2
            .col.footer__col.footer__col--first
                p.h4.mb-sm-0 Готовы записаться?
                a.btn.btn_link.btn_link-inverse(href="javascript" data-fancybox data-src="#callback") Оставить заявку
            .col.footer__col
                p.footer__title Меню
                nav.navbar.navbar_footer
                    .navbar_footer__col
                        a.navbar_footer__item(href="#") Услуги клиники
                        a.navbar_footer__item(href="#") Прайс-лист
                        a.navbar_footer__item(href="#") Сертификаты
                        a.navbar_footer__item(href="#") Акции
                    .navbar_footer__col
                        a.navbar_footer__item(href="#") До / После
                        a.navbar_footer__item(href="#") О клинике
                        a.navbar_footer__item(href="#") Врачи
                        a.navbar_footer__item(href="#") Отзывы
                    .navbar_footer__col
                        a.navbar_footer__item(href="#") Контакты
                        a.navbar_footer__item(href="#") Новости
                        a.navbar_footer__item(href="#") Статьи
            .col.footer__col.footer__col--first-md
                p.footer__title Виды услуг
                a.navbar_footer__item(href="#") Для лица и шеи
                a.navbar_footer__item(href="#") Для тела
                a.navbar_footer__item(href="#") Для интимных зон
                a.navbar_footer__item(href="#") Консультация врача
            .col.footer__col
                p.footer__title Найти нас
                p.footer__address Санкт-Петербург, Московский пр. 135
                a.footer__contact.link-underline(href="#" target="_blank") На карте
            .col.footer__col.footer__col--last
                p.footer__title Связаться
                a.footer__contact(href="tel:8 800 910 23 412") 8 800 910 23 412
                <br/>
                a.footer__contact(href="mailto:info@modifique.ru") info@modifique.ru
        .row
            .col.footer__col.footer__col--offset
            .col.footer__col.footer__col--last.d-flex.justify-content-between.flex-sm-wrap
                span.footer__info Все права защищены — 2020  © Modifique
                a.footer__info.footer__policy(href="/policy.pdf" target="_blank") Политика конфиденциальности
                span.footer__info Сайт разработан 
                    a.footer__develop-link(href="https://websoho.ru" target="_blank") SOHO
        p.footer__subinfo Обращаем ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями Статьи 437 (2) Гражданского кодекса Российской Федерации.  Для получения подробной информации о наличии и актуальной стоимости указанных на сайте услуг обращайтесь, пожалуйста, по телефонам клиник. Приём пациентов в клиниках осуществляется с 18-ти лет.