header.header
    .container
        .row.align-items-center
            .col-4
                p.header__name Клиника эстетической медицины
            .col-4
                a.header__logo(href="/" title="Клиника эстетической медицины MODIFIQUE")
            .col-4.d-flex.justify-content-end
                a.header__phone(href="tel:880091023412") 8 800 910 23 412
                .header__networks
                    a.header__networks-item.header__networks-item_vk(href="")
                    a.header__networks-item.header__networks-item_inst(href="")
                    a.header__networks-item.header__networks-item_tlg(href="")
                span.navbar-toggle#nav
                    <svg class="navbar-toggle__icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.3537 7.3537H0.646312C0.289375 7.3537 0 7.64304 0 8.00001C0 8.35698 0.289375 8.64633 0.646312 8.64633H15.3537C15.7107 8.64633 16 8.35698 16 8.00001C16 7.64307 15.7107 7.3537 15.3537 7.3537Z" fill="#ADADAD"/>
                        <path d="M15.3537 2.45123H0.646312C0.289375 2.45123 0 2.74061 0 3.09755C0 3.45448 0.289375 3.74386 0.646312 3.74386H15.3537C15.7107 3.74386 16 3.45448 16 3.09755C16 2.74061 15.7107 2.45123 15.3537 2.45123Z" fill="#ADADAD"/>
                        <path d="M15.3537 12.2562H0.646312C0.289375 12.2562 0 12.5455 0 12.9025C0 13.2594 0.289375 13.5488 0.646312 13.5488H15.3537C15.7107 13.5488 16 13.2594 16 12.9025C16 12.5455 15.7107 12.2562 15.3537 12.2562Z" fill="#ADADAD"/>
                    </svg>
            .col-12
                p.header__intro красота вне времени
            .col-12.navbar-collapse
                span.navbar-close
                .navbar.navbar_header
                    .navbar__item-parent
                        a.navbar__item.navbar_header__item.navbar_header__item--active(href="#" data-nav="service") Услуги
                        //- Level 1 Inside Nav
                        .navbar-inside.navbar-inside--level-1#service
                            .navbar-inside__item-parent
                                a.navbar-inside__item(href="#" data-nav="type1") Для лица и шеи
                                //- Level 2 Inside Nav
                                .navbar-inside.navbar-inside--level-2#type1
                                    .navbar-inside__row
                                        .navbar-inside__col.col-3
                                            a.navbar-inside__title(href="#") Инъекционная косметология
                                            a.navbar-inside__item(href="#") Биоревитализация
                                            a.navbar-inside__item(href="#") Ботулонотерапия 
                                                span.label.label_small hit 
                                                span.label.label_small new
                                            a.navbar-inside__item(href="#") Ботулонотерапия ботокс
                                            a.navbar-inside__item(href="#") Ботулонотерапия диспорт
                                            a.navbar-inside__item(href="#") prp-Плазмотерапия
                                            a.navbar-inside__item(href="#") Мезотерапия
                                                span.label.label_small hit 
                                            a.navbar-inside__item(href="#") Плазмотерапия/плазмолифтинг
                                            a.navbar-inside__item(href="#") Контурная и объемная пластика
                                            a.navbar-inside__item(href="#") Биорепарация
                                            a.navbar-inside__item(href="#") Редермализация
                                            a.navbar-inside__item(href="#") Лифтинг мезонитями
                                            a.navbar-inside__item(href="#") Интралипотерапия aqualyx
                                            a.navbar-inside__item(href="#") Плацентарная терапия “лаеннек”
                                        .navbar-inside__col.col-3
                                            a.navbar-inside__title(href="#") Уходовые процедуры
                                            a.navbar-inside__item(href="#") Анти-эйдж
                                            a.navbar-inside__item(href="#") Микротоковая терапия
                                            a.navbar-inside__item(href="#") Чистка лица
                                            a.navbar-inside__item(href="#") Альгинатные маски
                                            a.navbar-inside__item(href="#") Химический пилинг
                                            a.navbar-inside__item(href="#") Удаление новообразований
                                            a.navbar-inside__title(href="#") Акции
                                            a.navbar-inside__title(href="#") Отзывы
                                            a.navbar-inside__title(href="#") Результаты До-После
                                        .navbar-inside__col.col-3
                                            span.navbar-inside__title Какие проблемы решаем?
                                            a.navbar-inside__item(href="#") Морщины на лбу
                                            a.navbar-inside__item(href="#") Морщины в межюровье
                                            a.navbar-inside__item(href="#") Морщины в уголках глаз “гусиные лапки”
                                            a.navbar-inside__item(href="#") Темные круги под глазами
                                            a.navbar-inside__item(href="#") Недостаточный объем скуловой зоны
                                            a.navbar-inside__item(href="#") Возрастные изменения овала лица
                                            a.navbar-inside__item(href="#") Пигментация
                                            a.navbar-inside__item(href="#") Жирная кожа
                                            a.navbar-inside__item(href="#") Расширенные поры
                                            a.navbar-inside__item(href="#") Снижение тургора кожи
                                            a.navbar-inside__item(href="#") Доброкачесвтенные образования
                                            a.navbar-inside__item(href="#") Черные точки
                                            a.navbar-inside__item(href="#") Возрастные изменения шеи и декольте
                                        .navbar-inside__col.col-3
                                                span.navbar-inside__title &nbsp;
                                                a.navbar-inside__item(href="#") Выраженная носогубная складка
                                                a.navbar-inside__item(href="#") Тусклый цвет лица 
                                                a.navbar-inside__item(href="#") Сухая кожа
                                                a.navbar-inside__item(href="#") Второй подбородок
                                                a.navbar-inside__item(href="#") Ассиметрия губ
                                                a.navbar-inside__item(href="#") Недостаточный объем губ 
                                                a.navbar-inside__item(href="#") Недостаточная увлажненность губ
                                                a.navbar-inside__item(href="#") Носослезная борозда
                                                a.navbar-inside__item(href="#") Опущение век
                            a.navbar-inside__item(href="#") Для тела
                            a.navbar-inside__item(href="#") Акции
                            a.navbar-inside__item(href="#") Прайс-лист
                    a.navbar__item.navbar_header__item(href="#") Сертификаты
                    a.navbar__item.navbar_header__item(href="#") Врачи
                    a.navbar__item.navbar_header__item(href="#") О клинике
                    a.navbar__item.navbar_header__item(href="#") Контакты
                    