.item{
    &_blazy{
        height: 0;
        width: 100%;
        overflow: hidden;
        position: relative;

        padding-bottom: 70%;
    }
}
.b-lazy {
    opacity:0;
    transition: all 500ms;
}
.b-loaded {
    opacity:1;
}
.loading {
    background: url("../icon/loader.gif") no-repeat center / 150px;
}