.table{
    border: 1px solid $light-300;
    width: 100%;

    &__head{
        background-color: $light-100;
    }
    &__title{
        font-size: 12px;
        letter-spacing: .5px;
        text-transform: uppercase;
        white-space: nowrap;
    }
    &__content{
        background-color: $white;
    }
}
.table-responsive{
    max-width: 100%;
    overflow-x: auto;
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .table{
        &__title{
            font-size: 10px;
        }
    }
}