.content-right{
    padding-left: calc(100%/24);
}
.content-left{
    padding-right: calc(100%/24);
}

@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .content-right{
        padding-left: $spacer/2;
    }
    .content-left{
        padding-right: $spacer/2;
    }
}