.content{
    width: 1040px;
    max-width: 100%;
    ul{
        padding-left: 15px;
        list-style: square;
    }
    ol{
        padding-left: 15px;
    }

    &_seo{
        a.btn{
            text-decoration: none;
            &:hover, &:focus{
                text-decoration: none;
            }
        }
    }
}