.cta{
    position: relative;
    padding: $spacer*4 0;
}
.cta-arrow{
    position: relative;
    width: 120px;
    height: 120px;

    // Inside Element
    &__arrow{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 34px;
        height: 34px;
        transform: translateX(-50%) translateY(-50%);
    }
    &__text{
        animation: circul 25s infinite linear;
    }

    // Position
    &_right{
        position: absolute;
        top: $spacer*2;
        right: 0;
    }
}
@keyframes circul {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-180deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}