.cta{
    position: relative;
    padding: $spacer*4 $spacer/2;
    &__title{
        font-size: 58px;
    }
}
.cta-arrow{
    position: relative;
    width: 120px;
    height: 120px;

    // Inside Element
    &__arrow{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 34px;
        height: 34px;
        transform: translateX(-50%) translateY(-50%);
    }
    &__text{
        animation: circul 25s infinite linear;
    }

    // Position
    &_right{
        position: absolute;
        top: $spacer*2;
        right: 0;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .cta{
        padding: $spacer*3 $spacer/2;
        &__title{
            font-size: 42px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .cta{
        padding: $spacer*2 $spacer/2;
        &__title{
            font-size: 36px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .cta{
        &__title{
            font-size: 28px;
        }
    }
    .cta-arrow{
        width: 80px;
        height: 80px;
        // Inside Element
        &__arrow{
            width: 24px;
            height: 24px;
        }
    }
    
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .cta{
        &__title{
            font-size: 20px;
        }
    }
    .cta-arrow{
        width: 60px;
        height: 60px;
        // Inside Element
        &__arrow{
            width: 20px;
            height: 20px;
        }
    }
}
@keyframes circul {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(-180deg)
    }

    100% {
        transform: rotate(-360deg)
    }
}