.price{
    &__nav{
        font-size: 13px;
        flex: 0 0 310px;
    }
    &__content{
        flex: 0 0 calc(100% - 310px);
    }
    &__nav-title{
        font-size: 13px;
        margin-top: 12px;
        margin-bottom: 24px;
    }
    &__nav-link{
        display: block;
        line-height: $line-height-heading;
        margin-bottom: 12px;
        
        &--active{
            color: $red;
        }
    }
    &__nav-content{
        display: none;
        padding-left: $spacer/2;

        &--active{
            display: block;
        }
    }
    &__nav-subcontent{
        display: none;
        padding-left: $spacer/2;

        &--active{
            display: block;
        }
    }
}