.breadcrumbs{
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    line-height: 16px;

    list-style: none;

    &__item{
        position: relative;
        padding-left: 0;
        padding-right: 10px;
        margin-right: 10px;

        &:after{
            display: block;
            content:'';
            width: 20px;
            height: 16px;
            background: url("../icon/arrow-right.svg") no-repeat center / 13px;

            position: absolute;
            top: 0;
            right: -10px;
        }
        &--active{
            padding-right: 0px;
            margin-right: 0px;
            color: $light-300;
            
            &:after{
                display: none;
            }
        }
    }

    &_service{
        font-weight: $font-weight-light;
        color: $light-300;
        text-transform: uppercase;
        letter-spacing: 1px;

        &__item{
            &:after{
                content:'—';

                width: auto;
                height: auto;
                right: -5px;

                background: inherit;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
        }
        &__link{
            color: $light-300;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .breadcrumbs{
        font-size: 10px;
    }
}