.header{
    padding: 25px 0;
    max-height: 160px;

    &__col{
        &-right{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
        }
    }

    &__logo{
        display: block;
        width: 270px;
        height: 34px;
        max-width: 100%;
        margin: 0 auto;

        transform: translateY(5px);
        background: url("../icon/logo.svg") no-repeat center / contain;
    }
    &__name{
        font-size: 10px;
        line-height: map-get($map: $font-size, $key: xl);

        letter-spacing: 1px;
        font-weight: 500;
        color: $light-300;
        text-transform: uppercase;

        margin-bottom: 8px;
    }
    &__networks{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(24px, auto));
        grid-gap: 8px;

        &-item{
            display: block;
            width: 24px;
            height: 24px;
            transition: .4s;

            &_vk{
                background: url("../icon/vk.svg") no-repeat center / contain;
            }
            &_inst{
                background: url("../icon/instagram.svg") no-repeat center / contain;
            }
            &_tlg{
                background: url("../icon/telegram.svg") no-repeat center / contain;
            }
            &_wa {
                background: url('../icon/wa.svg') no-repeat center/contain;
            }
            &:hover, &:focus{
                filter: grayscale(.5);
            }
        }
    }
    &__phone{
        font-size: map-get($map: $font-size, $key: lg);
        line-height: map-get($map: $font-size, $key: xl);

        margin-bottom: 8px;
    }
    &__cart{
        display: grid;
        grid-template-columns: 24px auto;
        grid-gap: 8px;

        align-items: center;

        &-icon{
            width: 24px;
            height: 24px;
            border-radius: 5px;
            // background: $black url("../icon/cart-light.svg") no-repeat center / 18px;
            background: url("../icon/cart.svg") no-repeat center / 18px;
        }
        &-item{
            font-size: 11px;
            line-height: map-get($map: $font-size, $key: xl);

            letter-spacing: 1px;
            font-weight: 700;
            // color: $light-300;
            text-transform: uppercase;

            padding-top: 4px;
        }
    }
    &__intro{
        position: relative;

        font-family: $font-family-serif;
        font-style: italic;
        text-align: center;
        
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1px;
        margin: map-get($map: $spacers, $key: 1) 0 0;

        &:before, &:after{
            content: '';
            display: block;
            width: calc(50% - 120px);
            height: 1px;
            background-color: $light-200;
            position: absolute;
            top: 10px;
        }
        &:before{left:0;}
        &:after{right:0;}
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .header{
        margin-bottom: $spacer;
        border-bottom: 1px solid $border-color;

        &__col-right{
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
        }

        &__phone{
            margin-right: map-get($map: $spacers, $key: 2);
            margin-bottom: 0px;
        }
        &__cart{
            margin-right: map-get($map: $spacers, $key: 1);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .header{
        padding: $spacer/2 0;
        &__logo{
            background-position-x: left;
            transform: translateY(3px);
        }
        &__phone{
            display: none;
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .header{
        &__cart{
            display: inline-flex;
            margin-right: 0;
            
            &-icon{
                width: 30px;
                height: 30px;
                background-color: $light-100;
                transition: $transition-base;

                &:hover{
                    background-color: $light-200;
                }
            }
            &-item{
                display: none;
            }
        }
    }
}