.modal{
    display: none;

    background-color: $white;
    color: $black;

    width: 720px;
    max-width: 100%;
    max-height: 80vh;

    &.fancybox-content{
        padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3);
    }
}