.modal{
    display: none;

    background-color: $white;
    color: $black;

    width: 720px;
    max-width: 100%;
    max-height: 80vh;

    &.fancybox-content{
        padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3);
    }

    ul{
        padding-left: 15px;
        list-style: square;
    }
    ol{
        padding-left: 15px;
    }
}

.modal_review{
    &.fancybox-content{
        background-color: $light-100;
        padding: $spacer/3;
    }
    &__preview{
        background-color: $white;
        & + .modal_review__content{
            border-top: none;
        }
    }
    &__content{
        background-color: $white;
        border: 1px solid $border-color;
        padding: $spacer/2 $spacer;
    }
}
.modal_callback{
    width: 400px;
    max-width: 100%;
}
.modal_content{
    padding: $spacer/2;
    &.fancybox-content{
        padding: $spacer/2;
        background-color: $light-100;
    }
    .fancybox-button.fancybox-close-small{
        opacity: 1;
        background-color: $white;
        border: 1px solid $border-color;
    }
    &__title{
        padding-bottom: $spacer/2;
        border-bottom: 1px solid $light-100;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }
    &__inside{
        padding: $spacer;
        background-color: $white;
        border: 1px solid $border-color;
    }
}