.modal{
    display: none;

    background-color: $black;
    color: $white;

    width: 720px;
    max-width: 100%;
    max-height: 80vh;

    &.fancybox-content{
        background-color: $black;
        color: $white;
        padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3);
    }

    &__content{
        font-weight: 200;
        line-height: $line-height-base;

        ul{
            @extend .list;
            @extend .list_content;
            li{
                @extend .list_content__item;
            }

            & + *{
                margin-top: $spacer/2;
            }
        }
    }
    &__cta{
        padding: map-get($map: $spacers, $key: 3);
    }

    &_product{
        &.fancybox-content{
            padding: 0;
        }

        &__content{
            padding: map-get($map: $spacers, $key: 2) map-get($map: $spacers, $key: 3);
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .modal{
        &__cta{
            padding: $spacer;
            .form_inline{
                &__input{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                &__btn{
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-top: 10px;
                }
            }
        }
    }
}