.pagination{
    @extend .list;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: $font-weight-bold;
    text-align: center;

    &__item{
        margin-right: 12px;
        &:last-child{
            margin-right: 0;
        }
    }
    &__link{
        width: 30px;
        line-height: 28px;
        border: 1px solid $light-300;
        background-color: $white;
        color: $black;

        &:hover, &:focus{
            border-color: $black;
            text-decoration: none;
            color: $black;
        }
    }
    &__active{
        display: block;
        width: 30px;
        border: 1px solid $light-300;
        background-color: $light-100;
        line-height: 28px;
    }
}