.preview-content{
    padding: $spacer;
    border: 1px solid $border-color;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    // height: 100%;

    &__title{
        flex: 0 0 35%;
        max-width: 35%;

        font-weight: $font-weight-bolder;
        line-height: 1.2;
        padding-right: $spacer/2;
    }
    &__content{
        flex: 0 0 65%;
        max-width: 65%;

        font-size: map-get($map: $font-size, $key: 'sm');
    }
    &_link{
        &:hover, &:focus{
            text-decoration: none;
	        color: $black;
	        background-color: lighten($color: $light-100, $amount: 5);
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .preview-content{
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;

        &__title{
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: $spacer/2;

            font-size: 16px;
        }
        &__content{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .preview-content{
        &__title{
            font-size: 16px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .preview-content{
        // height: auto;
        padding-top: $spacer/2;
        padding-bottom: $spacer/2;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .preview-content{
        padding: $spacer/2;
        &__title{
            font-size: 14px;
            margin-bottom: $spacer/6;
        }
        &__content{
            font-size: 13px;
        }
    }
}