.preview-doctor{
    @extend .row;
    @extend .align-items-center;

    max-width: calc(100% + 30px);
    // max-width: 100%;

    &__photo{
        position: relative;
        width: 100%;
        padding-left: $spacer/2;
        padding-right: $spacer/2;
    
        flex: 0 0 35.44443%;
        max-width: 35.44443%;

        &--full{
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    &__content{
        position: relative;
        width: 100%;
        padding-left: $spacer/2;
        padding-right: $spacer/2;
    
        flex: 0 0 64.55557%;
        max-width: 64.55557%;

        &--full{
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    &__name{
        font-size: 22px;
        font-family: $font-family-serif;
        font-weight: $font-weight-bolder;
        line-height: 1.2;
        margin-bottom: 0;

        &--full{
            font-size: 32px;
        }
    }
    &__surname{
        font-size: 22px;
        font-family: $font-family-serif;
        font-weight: $font-weight-bolder;
        line-height: 1.2;
        margin-bottom: 0;

        &--full{
            font-size: 32px;
        }
    }
    &__type{
        font-size: 14px;
        font-family: $font-family-serif;
        font-weight: $font-weight-bolder;
        font-style: italic;
        line-height: 1.2;
        margin: $spacer/2 0;

        width: 320px;
        max-width: 100%;
    }
    &__intro{
        font-size: 14px;
        margin-bottom: $spacer/2;
        &.list{
            margin-bottom: $spacer/2;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .preview-doctor{
        &__photo{
            flex: 0 0 30%;
            max-width: 30%;

            padding-right: $spacer/2;

            &--full{
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
        &__name{
            font-size: 18px;
            &--full{
                font-size: 28px;
            }
        }
        &__surname{
            font-size: 18px;
            &--full{
                font-size: 28px;
            }
        }
        &__type{
            font-size: 12px;
            margin: 10px 0;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .preview-doctor{
        &__photo{        
            flex: 0 0 41.66667%;
            max-width: 41.66667%;
            // &--full{
            //     flex: 0 0 41.66667%;
            //     max-width: 41.66667%;
            // }
        }
        &__content{
            flex: 0 0 58.33333%;
            max-width: 58.33333%;

            // &--full{
            //     flex: 0 0 58.33333%;
            //     max-width: 58.33333%;
            // }
        }
        &__name{
            &--full{
                font-size: 18px;
            }
        }
        &__surname{
            &--full{
                font-size: 18px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .preview-doctor{
        &__title{
            font-size: 28px;
        }
        &__photo{
            flex: 0 0 100%;
            max-width: 100%;
            padding-right: $spacer/2;
            margin-bottom: $spacer/2;

            &--full{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        &__content{
            flex: 0 0 100%;
            max-width: 100%;

            &--full{
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview-doctor{
        &__title{
            font-size: 24px;
        }
        &__type{
            font-size: 12px;
        }
        &__intro{
            margin-bottom: $spacer/2;
        }
    }
}