.preview-sale{
    &__image{
        position: relative;

        display: block;
        width: 100%;

        background-position: center;
        background-size: cover;
        transition: .4s;

        &:after{
            content:'';
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }

        &:hover, &:focus{
            opacity: .7;
        }
    }
    &__title{
        font-size: 22px;
        font-family: $font-family-serif;
        font-weight: $font-weight-bolder;
        line-height: 1.2;
        margin: $spacer/2 0 $spacer/3;
    }
    &__content{
        font-size: 14px;
        @extend .text-grey;
    }

    &_line{
        max-width: 95%;
    }
    &_middle{
        margin-left: auto;
        margin-right: auto;
    }
    &_last{
        margin-left: auto;
        margin-right: 0;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .preview-sale{
        &__title{
            font-size: 20px;
        }

        &_line{
            max-width: 100%;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview-sale{
        position: relative;
        min-height: 100px;
        
        &__image{
            width: 100px;

            position: absolute;
            left: $spacer/2;
            top: 0;
        }
        &__title{
            padding-left: 130px;
            margin-top: 0;
        }
        &__content{
            padding-left: 130px;
            line-height: 1.2;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .preview-sale{
        &__title{
            font-size: 16px;
        }
    }
}