.preview-interiors{
    position: relative;
    width: 100%;
    height: 220px;

    margin-bottom: $spacer;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &_full{
        height: 470px;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .preview-interiors{
        height: 140px;
        &_full{
            height: 310px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .preview-interiors{
        height: 90px;
        &_full{
            height: 210px;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .preview-interiors{
        height: 180px;
        &_full{
            height: 180px;
        }
    }
}