.sertificate{
    &__preview{
        display: block;
        width: 100%;
        height: 580px;

        background: url('../icon/sertificate-bg.svg') no-repeat center / 110%;
        background-color: #e6e7e9;
        transition: .4s;

        &--grey{
            background-color: #e6e7e9;
        }
        &--pink{
            background-color: #ffdffc;
        }
        &--blue{
            background-color: #dfe2ff;
        }
        &--green{
            background-color: #e3f7e9;
        }
    }
    &__title{
        font-size: 12px;
        font-weight: $font-weight-base;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    &__radio{
        font-family: $font-family-serif;
        font-style: italic;
        margin-bottom: 15px;

        &-sale{
            display: block;
            font-size: 12px;
            line-height: 14px;
            color: $red;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__checkbox{
        font-size: 13px;
        font-family: $font-family-serif;
        font-style: italic;
        margin-bottom: 20px;

        &:last-child{
            margin-bottom: 0;
        }

        &--inside{
            transform: translateY(-5px);
            padding-left: $spacer;
            .radio + .radio{
                margin-top: $spacer/3;
            }
        }
        &--disable{
            opacity: .5;
        }
    }
    // Constructor Sertificate
    &__constructor{
        display: flex;
        flex-wrap: wrap;
        border: 1px solid $border-color;
    }
    // Change Price
    &__price{
        flex: 0 0 25%;
        max-width: 25%;
        padding: $spacer;
        border-right: 1px solid $border-color;
    }
    // Change Color
    &__color{
        flex: 0 0 225px;
        max-width: 225px;
        padding: $spacer;
    }
    &__color-row{
        display: flex;
        flex-wrap: wrap;

        margin-left: -10px;
        margin-right: -10px;
    }
    &__color-col{
        position: relative;

        flex: 0 0 calc(50% - 20px);
        max-width: calc(50% - 20px);
        margin: 0 10px;

        cursor: pointer;
        
        &:before{
            content:'';
            display: block;

            background-color: $light-100;

            width: 100%;
            padding-bottom: 100%;

            // position: absolute;
            // left: 10px;
            // top: 10px;
        }
        &:nth-child(1), &:nth-child(2){
            margin-bottom: 20px;
        }
        // Цвета фона
        &[data-color=grey]{
            &:before{
                background-color: #e6e7e9;
            }
        }
        &[data-color=pink]{
            &:before{
                background-color: #ffdffc;
            }
        }
        &[data-color=blue]{
            &:before{
                background-color: #dfe2ff;
            }
        }
        &[data-color=green]{
            &:before{
                background-color: #e3f7e9;
            }
        }

        // Активный элемент
        &--active{
            border: 1px solid $black;
        }
    }
    &__color-input{
        display: none;
    }
    // Change Type
    &__type{
        flex: 0 0 calc(75% - 225px);
        max-width: calc(75% - 225px);
        padding: $spacer;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .sertificate{
        &__preview{
            height: 420px;
        }
        &__title{
            font-size: 10px;
        }
        &__price{
            flex: 0 0 180px;
            max-width: 180px;
            padding: $spacer/2;
        }
        &__color{
            flex: 0 0 170px;
            max-width: 170px;
            padding: $spacer/2;
        }
        &__type{
            flex: 0 0 calc(100% - 350px);
            max-width: calc(100% - 350px);
            padding: $spacer/2;
        }
        &__checkbox{
            margin-bottom: $spacer/2;
            &--inside{
                padding-left: $spacer/2;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .sertificate{
        &__preview{
            height: 340px;
            background-size: cover;
        }
        &__title{
            font-size: 12px;
        }
        &__price{
            flex: 0 0 210px;
            max-width: 210px;
            padding: $spacer/2 $spacer;
        }
        &__color{
            flex: 0 0 210px;
            max-width: 210px;
            padding: $spacer/2 $spacer;
            padding-right: $spacer/2;
        }
        &__type{
            flex: 0 0 calc(100% - 420px);
            max-width: calc(100% - 420px);
            padding-right: $spacer;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .sertificate{
        &__title{
            font-size: 10px;
        }
        &__price{
            flex: 0 0 calc(100% - 200px);
            max-width: calc(100% - 200px);
            padding: $spacer/2 $spacer;
        }
        &__color{
            flex: 0 0 200px;
            max-width: 200px;
            padding: $spacer/2 $spacer;
        }
        &__type{
            flex: 0 0 100%;
            max-width: 100%;
            border-top: 1px solid $border-color;
            padding: $spacer;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .sertificate{
        &__preview{
            height: 200px;
        }
        &__price{
            flex: 0 0 100%;
            max-width: 100%;
            padding-top: $spacer/2;
            padding-bottom: $spacer/2;
            border-right: none;
            border-bottom: 1px solid $border-color;
        }
        &__color{
            flex: 0 0 100%;
            max-width: 100%;
            padding-top: $spacer/2;
            padding-bottom: $spacer/2;

            &-row{
                margin-left: -5px;
                margin-right: -5px;
            }
            &-col{
                flex: 0 0 calc(25% - 10px);
                max-width: calc(25% - 10px);
                margin: 0 5px;
                &:nth-child(1), &:nth-child(2){
                    margin-bottom: 0;
                }
            }
        }
        &__type{
            padding-top: $spacer/2;
            padding-bottom: $spacer/2;
        }
    }
}