.list_information{
    &__item{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    &__category{
        font-weight: $font-weight-light;
        color: $grey;
        padding-right: $spacer/2;
    }
    &__dotted{
        background: bottom left repeat-x radial-gradient(at center center, $grey 0, $grey 1px, transparent 1px) ;
        background-size: 6px 6px;
        flex-grow: 1;
        transform: translateY(-5px);
    }
    &__value{
        padding-left: $spacer/2;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .list_information{
        font-size: 12px;
    }
}