.navbar_header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 770px;
    max-width: 100%;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;

    &__item{
        position: relative;

        &:after{
            content:'';
            display: block;
            width: 0;
            height: 3px;
            background-color: $black;

            transition: .3s;
            transform: translateX( -$spacer/2 ) translateY(3px);
        }

        &--active, &:hover{
            &:after{
                width: 40px;
                max-width: 100%;
            }
        }
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'sm')){
    .navbar_header{
        flex-wrap: wrap;
        margin-top: 0;

        &__item{
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;

            &:after{
                display: none;
            }

            &--parent{
                &:after{
                    display: block;

                    width: 24px;
                    height: $spacer/2;
                    background: url("../icon/arrow-next.svg") no-repeat center / 10px;
    
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }
}