.navbar{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    &__item{
        font-size: 13px;
        letter-spacing: .5px;
        padding: 0 15px 5px;
        color: $black;

        &:hover, &:focus{
            color: $black;
            text-decoration: none;
        }
    }
}
.navbar_header{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 770px;
    max-width: 100%;

    margin-top: map-get($map: $spacers, $key: 2);
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;

    &__item{
        position: relative;

        &:after{
            content:'';
            display: block;
            width: 0;
            height: 3px;
            background-color: $black;

            transition: .3s;
            transform: translateX( -$spacer/2 ) translateY(3px);
        }

        &--active, &:hover{
            &:after{
                width: 40px;
                max-width: 100%;
            }
        }
    }
}
.navbar_footer{
    flex-wrap: nowrap;
    font-size: 13px;

    &__item{
        color: $light-300;
        white-space: nowrap;
        margin-bottom: 6px;

        &:last-child{
            margin-bottom: 0;
        }
    }
    &__col{
        padding-right: map-get($map: $spacers, $key: 2);
        &:last-child{
            padding-right: 0;
        }
    }
}

.navbar-toggle{
    display: none;
}
.navbar-collapse{}