$white                : #ffffff;
$black                : #1d1d1b;
// $red                  : #f14634;
$red                  : #f93700;

$light-100            : #F3F2F5;
$light-200            : #EBE6DD;
$light-300            : #D1CDC5;

$grey                 : #ABA7A1;
$dark-grey            : #6B6965;

$border-color         : $light-200;
$body-color           : $black;
$body-bg              : $white;

$link-color           : $black !default;
$link-hover-color     : $red !default;
$link-decoration      : none !default;
$link-hover-decoration: underline !default;

$transition-base      : 0.3s;

$grid-columns         : 12 !default;
$grid-gutter-width    : 30px !default;

$grid-breakpoints: (
  xxs: 480px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1480px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 960px,
  xl: 1120px,
  hd: 1680px,
) !default;

$font-size-base       : 1rem;
$font-weight-base     : 400;
$line-height-base     : 1.4;

$font-family-serif    : "Noto Serif", sans-serif;
$font-family-base     : "Raleway",    "Helvetica Neue", Arial,  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,   "Liberation Mono",   "Courier New",    monospace !default;

$font-size: (
  xs: 12px,
  sm: 14px,
  md: 14px,
  lg: 14px,
  xl: 16px,
) !default;


$font-weight-light  : 300;
$font-weight        : 400;
$font-weight-bolder : 700;
$font-weight-bold   : 800;

$line-height        : 1.6;
$line-height-heading: 1.2;


$dt-font-weight: $font-weight-bold !default;

$spacer : 30px!default;
$spacers: ()  !default;
// stylelint-disable-next-line scss/dollar-variable-default
$spacers: map-merge(
  (
    0: 0,
    1: $spacer/2,         // 15px
    2: $spacer,           // 30px
    3: ($spacer * 1.5),   // 40px
    4: ($spacer * 2),     // 60px
    5: ($spacer * 3)      // 90px
  ),
  $spacers
);

$headings-margin-bottom: $spacer / 2 !default;
$headings-font-family  : null !default;
$headings-font-weight  : 500 !default;
$headings-line-height  : 1.2 !default;
$headings-color        : null !default;

$paragraph-margin-bottom: 40px !default;

$table-cell-padding   : 10px !default;
$table-cell-padding-sm: 6px !default;
$table-caption-color  : #242424 !default;

$label-margin-bottom: 10px;

$enable-grid-classes              : true !default;
$enable-pointer-cursor-for-buttons: true !default;

// Utilities

$displays : none,   inline,   inline-block, block, table, table-row, table-cell, flex, inline-flex !default;
$overflows: auto,   hidden !default;
$positions: static, relative, absolute,     fixed, sticky !default;


// Printing

$print-page-size     : a3 !default;
$print-body-min-width: map-get($grid-breakpoints, "lg") !default;