
.tab-pane{
    overflow: hidden;
    height: 0;
    &_scroll{
        overflow-x: auto;

        &::-webkit-scrollbar { height: 6px; }
        &::-webkit-scrollbar-track { background: $light-100; }
        &::-webkit-scrollbar-thumb { background: $light-300;}

        &.active{
            overflow-x: auto;
        }
    }
    &__row{
        display: flex;
        flex-wrap: nowrap;
    }
    &__col-full{
        @extend .col-7;
        padding-left: 0;
    }
    &__col{
        @extend .col-5;
        padding-left: 0;
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'xl')){
    .tab-pane{
        &__col-full{
            @extend .col-xl-8;
        }
        &__col{
            @extend .col-xl-6;
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'lg')){
    .tab-pane{
        &__col-full{
            flex: 0 0 540px;
            max-width: 540px;
            padding-right: $spacer;
        }
        &__col{
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            padding-right: 0;

            flex: 0 0 1080px;
            max-width: 1080px;

            &-inside{
                flex: 0 0 50%;
                max-width: 50%;
                padding-right: $spacer;
            }

            &--small{
                flex: 0 0 540px;
                max-width: 540px;
            }
        }
    }
}
@media all and (max-width: map-get($grid-breakpoints, 'md')){
    .tab-pane{
        &__col-full{
            flex: 0 0 270px;
            max-width: 270px;
        }
        &__col{
            flex: 0 0 540px;
            max-width: 540px;
            padding-right: 0;

            &--small{
                flex: 0 0 270px;
                max-width: 270px;
            }
        }
    }
}