.tab-content {
    .active {
        display: block;
    }
}

.tab-pane{
    display: none;
    &_scroll{
        overflow-x: auto;
    }
    &__row{
        display: flex;
        flex-wrap: nowrap;
    }
    &__col-full{
        flex: 0 0 59%;
        max-width: 59%;
    }
    &__col{
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }
}

.fade{
    opacity: 0;
    transition: opacity 0.15s linear;
    &.in{
        opacity: 1;
    }
}