.btn{
    border: none;
    outline: none;
    box-shadow: none;

    letter-spacing: 1px;
    font-family: $font-family-serif;
    padding: 8px 36px 10px;
    
    transition: all .4s;

    &:hover, &:focus{
        text-decoration: none;
    }

    &_secondary{
        // background: $bg-secondary;
        // color: $white;
        // &:hover, &:focus{
        //     background: lighten($color: $bg-secondary, $amount: 4);
        //     color: $white;
        // }
    }
    &_action{
        // background: $red;
        // color: $white;
        // &:hover, &:focus{
        //     background: darken($color: $red, $amount: 8);
        //     color: $white;
        // }
    }

    &--full{
        width: 100%;
    }
}