.checkbox{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    &__input{
        display: none;

        &:checked + .checkbox__label:after {
            content: '';
            display: block;
            background: $light-100 url("../icon/checkmark.svg") no-repeat center / contain;

            width: 8px;
            height: 8px;

            position: absolute;
            left: 6px;
            top: 6px;
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 30px;
        line-height: 1.2;

        cursor: pointer;

        &:before{
            content:'';
            display: block;

            border: 1px solid $grey;
            background-color: $light-100;

            width: 20px;
            height: 20px;

            position: absolute;
            left: 0;
            top: 0;
        }
    }
}