.form{
    margin: 0;

    &__input{
        background-color: inherit;
        color: $black;
        border: none;
        border-bottom: 1px solid $black;
        padding: $spacer/3 $spacer/2;
        margin-bottom: $spacer/3;
        transition: .4s;

        &::placeholder{
            transition: .4s;
            color: $grey;
        }
        &:hover, &:focus{
            border-color: $border-color;
            outline: none;
        }
        &:focus::placeholder{
            opacity: 0;
        }
        // Состояние
        &--full{
            width: 100%;
        }
        &.error{
            border-bottom-color: $red;
        }
    }
    &__agree{
        font-size: 12px;
        color: $grey;
        margin-top: $spacer/3;
    }
}
.form-validation{
    position: absolute;
    top: -14px;
    left: 0px;
    font-size: 12px;
    line-height: 14px;

    color: $red;
}