.form_inline{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 540px;
    max-width: 100%;

    &__group{
        flex: 0 0 calc(100% - 210px);
        max-width: calc(100% - 210px);
        margin-bottom: 0;
        height: 52px;

        display: flex;
    }
    &__group-small{
        flex: 0 0 calc(100% - 210px);
        max-width: calc(100% - 210px);
        margin-bottom: 0;
        height: 38px;
    
        display: flex;
    }
    &__input{
        margin: 0;
        height: auto;
        // height: 100%;
    }
    &__btn{
        flex: 0 0 200px;
        max-width: 200px;
        height: 52px;
        padding-left: $spacer/2;
        padding-right: $spacer/2;
    }
    &__btn-small{
        flex: 0 0 200px;
        max-width: 200px;
        height: 38px;
        line-height: 38px;
        padding: 0 $spacer/3;
    }
    &__agree{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media all and (max-width: map-get($grid-breakpoints, 'xs')){
    .form_inline{
        &__group, &__group-small{
            flex: 0 0 100%;
            max-width: 100%;
            height: auto;

            margin-bottom: $spacer/2;
        }
        &__btn, &__btn-small{
            flex: 0 0 100%;
            max-width: 100%;
        }
        &__input{
            width: 100%;
        }
    }
}