.radio{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    
    &__input{
        display: none;

        &:checked + .radio__label:after {
            content: '';
            display: block;
            background: $black;

            width: 6px;
            height: 6px;
            border-radius: 100%;

            position: absolute;
            left: 7px;
            top: 7px;
        }
    }
    &__label{
        position: relative;
        margin: 0;
        padding-left: 30px;
        line-height: 20px;

        cursor: pointer;

        &:before{
            content:'';
            display: block;

            background-color: $light-100;
            border: 1px solid $light-200;
            border-radius: 10px;

            width: 20px;
            height: 20px;

            position: absolute;
            left: 0;
            top: 0;
        }
    }
}