html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Cart

        link(href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&family=Raleway:wght@300;400;500;700;800&display=swap" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        include chunks/mixin.pug
        section.container.pb-3
            ul.breadcrumbs
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="/index.html") Главная
                li.breadcrumbs__item.breadcrumbs__item--active Корзина
            .content.cart
                h1.h4.mb-2 Оформление заказа
                .cart__product
                    .cart__product-info
                        .cart__brand SkinCeuticals
                        .cart__title 'SC A.G.E.INTERRUPTER (Антигликационный антивозрастной крем)
                        .cart__remove
                            form(method="post" class="ms2_form")
                                button.btn.btn_remove(type="submit" name="ms2_action" value="cart/remove") Удалить
                    .cart__product-price
                        .cart__price 14 400 руб.
                    .cart__product-count
                        .cart__count 
                            form(method="post" class="ms2_form form" role="form")
                                .form__group
                                    input(type="number" name="count" value="1" class="form__input form__input_cart form__input--full")
                                    button(class="btn d-none" type="submit" name="ms2_action" value="cart/change") ↻
                .cart__product
                    .cart__product-info
                        .cart__brand SkinCeuticals
                        .cart__title 'SC A.G.E.INTERRUPTER (Антигликационный антивозрастной крем)
                        .cart__remove
                            form(method="post" class="ms2_form")
                                button.btn.btn_remove(type="submit" name="ms2_action" value="cart/remove") Удалить
                    .cart__product-price
                        .cart__price 14 400 руб.
                    .cart__product-count
                        .cart__count 
                            form(method="post" class="ms2_form form" role="form")
                                .form__group
                                    input(type="number" name="count" value="1" class="form__input form__input_cart form__input--full")
                                    button(class="btn d-none" type="submit" name="ms2_action" value="cart/change") ↻
                .cart__footer
                    .cart__footer-title.mb-0.total Итого:
                    .cart__footer-price.total_cost
                        span.ms2_total_cost 27 700 руб.                
                        .cart__footer-count.total_count
                            span Количество: 
                            span.ms2_total_count 2 шт.
                        form(method="post")
                            button(type="submit" name="ms2_action" value="cart/clean" class="btn btn_secondary") Очистить корзину
        include chunks/footer.pug

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        script(src="./js/jquery.inputmask.min.js")
        script(src="./js/app.min.js")