html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Catalog

        link(href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&family=Raleway:wght@300;400;500;700;800&display=swap" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')

    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        include chunks/mixin.pug
        section.container.pt-2.pb-3.pt-md-0.pb-md-1
            .row.mb-1
                +preview('free', 'Бесплатная консультация', 'Консультация косметолога клиники для всех новых клиентов')(src="../demo/sale-1.png" class="price__order")
                +preview('хит', 'Мезотерапия головы', 'Одна из самых популярных услуг клиники, направленая на увеличение объема волос')(src="../demo/sale-2.png" class="price__order")
                +preview('news', 'Открытие клиники', 'Ура, карантин позади и мы готовы принимать посетителей с 1 сентября!')(src="../demo/sale-3.png" class="price__order")
            .row.catalog
                .col-3.col-sm-12.mb-sm-2
                    .catalog__filter
                        p.catalog__filter-title Выберите применение
                        .catalog__filter-list
                            .checkbox.mb-1
                                input.checkbox__input(type="checkbox" name="msoption|tags" id="mse2_msoption|tags_0" value="Для лица и шеи")
                                label(for="mse2_msoption|tags_0" class="checkbox__label ") Для лица и шеи&nbsp;
                                    sup 28
                            .checkbox.mb-1
                                input.checkbox__input(type="checkbox" name="msoption|tags" id="mse2_msoption|tags_1" value="Для тела")
                                label(for="mse2_msoption|tags_1" class="checkbox__label ") Для лица и шеи&nbsp;
                                    sup 28
                    .catalog__filter
                        p.catalog__filter-title Выберите производителя
                        .catalog__filter-list
                            .checkbox.mb-1
                                input.checkbox__input(type="checkbox" name="msoption|tags" id="mse2_msoption|tags_2" value="Для лица и шеи")
                                label(for="mse2_msoption|tags_2" class="checkbox__label ") SkinCeuticals&nbsp;
                                    sup 28
                            .checkbox.mb-1
                                input.checkbox__input(type="checkbox" name="msoption|tags" id="mse2_msoption|tags_3" value="Для лица и шеи")
                                label(for="mse2_msoption|tags_3" class="checkbox__label ") Ultraceuticals&nbsp;
                                    sup 28
                            .checkbox.mb-1
                                input.checkbox__input(type="checkbox" name="msoption|tags" id="mse2_msoption|tags_4" value="Для лица и шеи")
                                label(for="mse2_msoption|tags_4" class="checkbox__label ") ZO SKIN HEALTH by ZEIN OBAGI, MD&nbsp;
                                    sup 28
                .col-9.col-sm-12.mb-sm-3
                    .catalog__head
                        .catalog__head-title 
                            a.sort.active(href="#") Отсортировать по производителю
                                span
                        .catalog__head-title 
                            a.sort(href="#") Отсортировать по цене
                    .row
                        .col-3.col-xl-4.col-lg-6.col-xs-12.mt-2.mt-xs-1.catalog__product
                            .product
                                .product__row
                                    a.product__brand(href="#") Ultraceuticals
                                .product__row
                                    .product__name Ultraceuticals. Ultra A Skin Perfecting Serum Mild 
                                    .product__intro Ультра А сыворотка с ретинолом для чувствительной кожи
                                .product__price 7 900 руб.
                                .product__row
                                    a.btn.btn_secondary.btn--small(href="#") В корзину
                        .col-3.col-xl-4.col-lg-6.col-xs-12.mt-2.mt-xs-1.catalog__product
                            .product
                                .product__row
                                    a.product__brand(href="#") SkinCeuticals
                                .product__row
                                    .product__name SC FACE CREAM 
                                    .product__intro Легкий крем для кожи с признаками старения
                                .product__price 11 300 руб.
                                .product__row
                                    a.btn.btn_secondary.btn--small(href="#") В корзину
        include chunks/footer.pug

        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")

        script(src="./js/jquery.inputmask.min.js")
        script(src="./js/app.min.js")