html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Basic Page

        link(href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,700&family=Raleway:wght@300;400;700;800&display=swap" rel="stylesheet")
        link(href='./css/style.css', rel='stylesheet')
    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        //- Slider
        section.slider-index.container.mb-4.mb-md-2
            .slider.slider_index
                .slider__item.slider_index__item
                    .slider_index__image(style="background-image:url(../demo/slider-1.png)")
                .slider__item.slider_index__item
                    .slider_index__image(style="background-image:url(../demo/slider-2.png)")
                .slider__item.slider_index__item
                    .slider_index__image(style="background-image:url(../demo/slider-3.png)")
            .slider-index__nav
                .slider-index__dots
                .slider-index__button.slider-index__button--pause
        //- Sales
        aside.container.bg-sales
            .row.justify-content-end
                .col-11.col-sm-12
                    .row
                        .col-4.col-sm-12.mb-sm-2
                            .preview-sale.preview-sale_line.preview-sale_first
                                a.preview-sale__image(href="#" style="background-image:url(../demo/service-1.png);")
                                    span.label.label_sale free
                                a.preview-sale__title(href="#") Бесплатная консультация
                                p.preview-sale__content Консультация косметолога клиники для&nbsp;всех&nbsp;новых клиентов
                        .col-4.col-sm-12.mb-sm-2
                            .preview-sale.preview-sale_line.preview-sale_middle
                                a.preview-sale__image(href="#" style="background-image:url(../demo/service-2.png);")
                                    span.label.label_sale -20%
                                a.preview-sale__title(href="#") Гармонизация со скидкой
                                p.preview-sale__content Консультация косметолога клиники для&nbsp;всех&nbsp;новых клиентов
                        .col-4.col-sm-12
                            .preview-sale.preview-sale_line.preview-sale_last
                                a.preview-sale__image(href="#" style="background-image:url(../demo/service-3.png);")
                                a.preview-sale__title(href="#") Контурная пластика
                                p.preview-sale__content Консультация косметолога клиники для&nbsp;всех&nbsp;новых клиентов
        //- CTA
        section.cta.container
            .row
                .col-2.col-xl-3.col-lg-2.col-md-3
                    a.cta-arrow.scroll(href="#services")
                        include chunks/scrollDownSvg.pug
                .col-9.col-lg-10.col-md-9
                    h3.cta__title.mb-3.mb-sm-2 Эксклюзивные  
                        span.text-italic скидки 
                        | каждый месяц. Подпишитесь, чтобы быть в курсе
                    form.form.form_inline(action="")
                        .p-relative.form_inline__group
                            //- span.form-validation.error Укажите номер телефона
                            input.form_inline__input.form__input.form__input--full.phone(type="tel" placeholder="Телефон* ")
                        button.form_inline__btn.btn.btn_default(type="") Получать скидки
                        .form_inline__agree.form__agree.form__agree_inverse.checkbox
                            input.checkbox__input#agreeInline(type="checkbox" name="agreeInline" checked="checked" required="required")
                            label.checkbox__label(for="agreeInline") согласен с обработкой 
                                a.form__link-inverse(href="/policy.pdf" target="_blank") персональных данных
        //- Services
        section.container.content-service.mb-4.mb-sm-3
            .row
                .col-6.col-md-12.col-xl-5
                    .content-service__image
                        .content-service__image-item.content-service__image-item--first(style="background-image: url('../demo/demo.jpg');")
                        .d-sm-none.content-service__image-item.content-service__image-item--last(style="background-image: url('../demo/img.png');")
                .col-6.col-md-12.col-xl-7
                    .content-service__content.p-sticky
                        h2 Процедуры 
                            span.text-italic клиники
                        p.content-service__intro Cамые востребованные процедуры этого сезона:
                        .row
                            .col-6.col-xs-12
                                ul.list.list_numeric#service-nav
                                    li.list_numeric__item.content-service__nav(data-img-1="../demo/img.png" data-img-2="../demo/demo.jpg" data-link="service-1.html" data-content="Можно не только увеличить узкие губы, но и исправить косметические дефекты.") Корреляция губ
                                    li.list_numeric__item.content-service__nav.content-service__nav--active(data-img-1="../demo/demo.jpg" data-img-2="../demo/img.png" data-link="service-2.html" data-content="Эксклюзивные скидки каждый месяц. Подпишитесь, чтобы быть в курсе") Биоревитализация
                                    li.list_numeric__item.content-service__nav(data-img-1="../demo/img.png" data-img-2="../demo/demo.jpg" data-link="service-3.html" data-content="1") Кавитация
                                    li.list_numeric__item.content-service__nav(data-img-1="../demo/demo.jpg" data-img-2="../demo/img.png" data-link="service-4.html" data-content="2") Фотоэпиляция
                                    li.list_numeric__item.content-service__nav(data-img-1="../demo/img.png" data-img-2="../demo/demo.jpg" data-link="service-5.html" data-content="3") Ботокс ресниц
                                    li.list_numeric__item.content-service__nav(data-img-1="../demo/demo.jpg" data-img-2="../demo/img.png" data-link="service-6.html" data-content="4") Массаж Гуаша
                                    li.list_numeric__item.content-service__nav(data-img-1="../demo/img.png" data-img-2="../demo/demo.jpg" data-link="service-7.html" data-content="5") RF-лифтинг
                            .col-6.col-xs-12.mt-xs-1
                                p.content-service__quote Можно не только увеличить узкие губы, но и исправить косметические дефекты.
                                a.btn.btn_link.content-service__link(href="service-category.html") Подробнее
        //- Doctors
        section.container.bg-company
            .row.align-items-center.align-items-xl-start.align-items-md-center
                .col-4.col-xl-5.col-lg-7.col-md-10.col-sm-12.mb-lg-2
                    h4.h1-lead.mb-2.mb-sm-1 Красота 
                        span.text-italic вне&nbsp;времени
                    p Все врачи клиники Modifique косметологи-дерматологи и имеют высшее медицинкое образование. Cредний опыт работы специалистов 12 лет.
                    p Несколько раз в год ежегодно проходят курсы повышения квалификации и в соврешенстве владеют всеми методиками.
                    .mt-2
                        a.btn.btn_link(href="review.html") Медицинская лицензия
                    .mt-1
                        a.btn.btn_link(href="review.html") Отзывы о клинике
                    .mt-1
                        a.btn.btn_link(href="review.html") Работы до / после
                .col-7.col-xl-6.col-lg-11.col-md-10.col-sm-12
                    .content-right
                        .row
                            .col-4.col-xs-6
                                img.img-fluid(src="../demo/service-1.png" alt="" title="")
                            .col-4.col-xs-6
                                img.img-fluid(src="../demo/service-2.png" alt="" title="")
                            .col-4.col-xs-6.mt-xs-2
                                img.img-fluid(src="../demo/service-3.png" alt="" title="")
                            .col-4.col-xs-6.mt-2
                                img.img-fluid(src="../demo/service-1.png" alt="" title="")
                            .col-4.col-xs-6.mt-2
                                img.img-fluid(src="../demo/service-2.png" alt="" title="")
        //- CTA
        section.cta.container
            .row
                .col-2.col-xl-3.col-lg-2.col-md-3
                    a.cta-arrow.scroll(href="#roomtour")
                        include chunks/roomTourSvg.pug
                .col-9.col-lg-10.col-md-9
                    h4.cta__title.mb-3.mb-sm-2 Получите бесплатную  
                        span.text-italic консультацию  
                        | от&nbsp;специалиста нашей клиники
                    form.form.form_inline(action="")
                        .p-relative.form_inline__group
                            //- span.form-validation Укажите номер телефона
                            input.form_inline__input.form__input.form__input--full.phone(type="tel" placeholder="Телефон* ")
                        button.form_inline__btn.btn.btn_default(type="") Записаться
                        .form_inline__agree.form__agree.form__agree_inverse.checkbox
                            input.checkbox__input#agreeInline(type="checkbox" name="agreeInline" checked="checked" required="required")
                            label.checkbox__label(for="agreeInline") согласен с обработкой 
                                a.form__link-inverse(href="/policy.pdf" target="_blank") персональных данных
        //- Interiors
        .container.mb-4.mb-md-2#roomtour
            .row
                .col-3.col-sm-12
                    .preview-interiors(style="background-image:url('../demo/clinic-2.jpg');")
                    .preview-interiors(style="background-image:url('../demo/clinic-3.jpg');")
                .col-6.col-sm-12
                    .preview-interiors.preview-interiors_full(style="background-image:url('../demo/clinic-1.jpg');")
                .col-3.col-sm-12
                    .preview-interiors(style="background-image:url('../demo/clinic-3.jpg');")
                    .preview-interiors(style="background-image:url('../demo/clinic-2.jpg');")
        //- Instagram
        .content-instagram
            .content-instagram__item
                img.img-fluid(src="../demo/service-1.png")
            .content-instagram__item
                img.img-fluid(src="../demo/service-2.png")
            .content-instagram__item
                img.img-fluid(src="../demo/service-3.png")
            .content-instagram__item
                img.img-fluid(src="../demo/service-2.png")
            .content-instagram__title Мы в Instagram 
                a.content-instagram__link(href="") @mymodifique
            .content-instagram__item
                img.img-fluid(src="../demo/service-1.png")
            .content-instagram__item
                img.img-fluid(src="../demo/service-2.png")
            .content-instagram__item
                img.img-fluid(src="../demo/service-3.png")
            .content-instagram__item
                img.img-fluid(src="../demo/service-2.png")
        include chunks/footer.pug

        script(src="./js/jquery.inputmask.min.js")

        //- Fancybox
        link(href='./css/jquery.fancybox.min.css', rel='stylesheet')
        script(src="./js/jquery.fancybox.min.js")
        
        //- Slider
        link(href='./css/slick.css', rel='stylesheet')
        link(href='./css/slick-theme.css', rel='stylesheet')
        script(src="./js/slick.min.js")
        
        script(src="./js/app.min.js")